<!doctype html>
<html class="no-js" lang="en-us">

<head>
    <meta charset="utf-8">
    <meta  name="referrer" content="no-referrer">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Mayabi - Multipurpose Portfolio/Business HTML5 Template</title>
    <meta name="keywords" content="Corporate Business Shopse HTML5 Css3 Template"/>
    <meta name="description" content="mayabi | Minimal Multipurpose HTML5 Template"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/static/js/music/player.css">


    <!-- css here -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/static/css/slicknav.min.css">
    <link rel="stylesheet" href="/static/css/animate.min.css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/linebar.min.css">
    <link rel="stylesheet" href="/static/css/scrolltop.css">
    <link rel="stylesheet" href="/static/css/nice-select.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.css">
    <link rel="stylesheet" href="/static/css/slick.css">
    <link rel="stylesheet" href="/static/css/slick-theme.css">
    <link rel="stylesheet" href="/static/css/default.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    <link rel="stylesheet" href="/static/js/gritter/css/jquery.gritter.css">
    <link rel="stylesheet" href="/static/css/search-form.css">


    {% block css %}
    {% endblock %}
    <style>
        .meiyongde {

        }

        .bbb:before {
            background: rgba(128, 128, 128, 0.3);
        }

    </style>
</head>

<body>
<!--[if lte ie 9]>
<![endif]-->

<!-- Preloader -->

<!-- 导航 -->
<div id="hero-area" class="hero-area">
    <div class="header-area">
        <div class="container">
            <div class="row">
                <!-- logo start -->
                <div class="col-md-2">
                    <div class="header-logo">
                        <a href="index.html"><img src="/static/img/logo.png" alt="logo" class="img-fluid"/></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <form class="meiyongde" onSubmit="submitFn(this, event);" style="text-align: center">
                        <div class="search-wrapper">
                            <div class="input-holder">
                                <input type="text" class="search-input" placeholder="请输入关键词"/>
                                <button class="search-icon" onClick="searchToggle(this, event);"><span></span></button>
                            </div>
                            <span class="close" onClick="searchToggle(this, event);"></span>
                            <div class="result-container">

                            </div>
                        </div>
                    </form>
                </div>
                <div class="responsive-menu-wrap"></div>
                <!-- nav start -->
                <div class="col-md-7">
                    <div class="mainmenu">
                        <ul id="navigation">
                            <li class="current-item"><a href="/index/">主页</a></li>
                            <li><a href="/index/">关注<i class="fa fa-angle-down"></i></a>
                                <ul>
                                    <li><a href="{% url 'video' %}"><i class="fa fa-angle-double-right"></i> 哪些你不知道的~
                                    </a></li>
                                    <li><a href="{% url 'ancient' %}"><i class="fa fa-angle-double-right"></i>
                                        古人保护环境的那些事儿 </a></li>
                                    <li><a href="{% url 'bsi' %}"><i class="fa fa-angle-double-right"></i> 环保小妙招~ </a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="{% url 'news' tp='a' page=1 %}">环保热点<i class="fa fa-angle-down"></i></a>
                                <ul>
                                    <li><a href="{% url 'news' tp='h' page=1 %}"><i
                                            class="fa fa-angle-double-right"></i> 垃圾分类 </a></li>
                                    <li><a href="{% url 'news' tp='s' page=1 %}"><i
                                            class="fa fa-angle-double-right"></i> 水资源？ </a></li>
                                    <li><a href="{% url 'news' tp='q' page=1 %}"><i
                                            class="fa fa-angle-double-right"></i> 清洁能源 </a></li>
                                </ul>
                            </li>

                            <li><a href="{% url 'questions:detail' %}">挑战一下？ <i class="fa fa-angle-down"></i></a>
                                <ul>

                                </ul>
                            </li>
                            <li><a href="a_contact.html">关于</a></li>
                            {% block cout %}
                            {% endblock %}
                            {% if request.user.is_authenticated %}
                                <li id="logins"><a href="#" id="a1">{{ user }}<i class="fa fa-angle-down"></i></a>
                                    <ul>
                                        <li><a href="{% url 'count:users' %}"><i class="fa fa-angle-right"></i> 个人资料
                                        </a></li>
                                        <li><a href="#"><i class="fa fa-angle-right"></i> 修改密码 </a></li>
                                        <li><a href="{% url 'count:loginout' %}"><i class="fa fa-angle-right"></i> 退出登录
                                        </a></li>
                                    </ul>
                                </li>

                            {% else %}
                                <li id="logins"><a href="/count/login" id="a1">登录/注册</a></li>

                            {% endif %}
                        </ul>
                    </div>


                </div>
                <!-- nav end -->
            </div>
        </div>
    </div>
    <!-- slider area start -->

    <!-- hero area end -->
    <!-- about area start -->
    {% block count %}
    {% endblock %}
    <footer>
        <div class="footer-area sec-p-50">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copy-right text-center">
                            <div class="footer-logo mb-30">
                                <a href="#"><img src="/static/img/logo.png" alt="logo" class="img-fluid"/></a>
                            </div>
                            copyright 2019 <a href="http://www.17sucai.com/">mayabi</a> | all rights reserved | designed
                            by
                            workertm
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div id="QPlayer">
        <div id="pContent">

            <div id="player">

                <span class="cover"></span>
                <div class="ctrl">
                    <div class="contr1">
                        <span id="voice">
                        <i class="fa fa-volume-off hide"></i><i class="fa fa-volume-down hide"></i><i
                                class="fa fa-volume-up"></i></span>
                        <span id="voicebar"><input id="voicerange" min="0" max="1" step="0.1" type="range"
                                                   onchange="setvolume()"></span>
                    </div>
                    <div class="musicTag marquee" style="margin-top:10px">
                        <strong>歌名</strong>
                        <span> - </span>
                        <span class="artist">歌手</span>
                    </div>
                    <div class="progress1">
                        <div class="timer left">0:00</div>
                        <div class="contr">
                            <div class="rewind icon"></div>
                            <div class="playback icon"></div>
                            <div class="fastforward icon" style="display: block"></div>
                        </div>

                        <div class="right">
                            <div class="liebiao icon"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ssBtn">
                <div class="adf"></div>
            </div>

        </div>
        <ol id="playlist"></ol>
        <div style="text-align:center " class="hide" id="inn">
            <input type="text" id="neirong">
            <input type="button" value="搜索" id="vtn" onclick="fs()">
        </div>
        {#    <div style="text-align:center " class="hide" id="inn">#}
        {#        <form action="/a/" method="post">#}
        {#            {% csrf_token %}#}
        {#            <input type="text" id="neirong">#}
        {#            <input type="submit" value="搜索" id="vtn" >#}
        {#        </form>#}
        {##}
        {#    </div>#}
    </div>
    <div id="c"></div>
    <script type="text/javascript" src="/static/js/music/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/music/jquery.marquee.min.js"></script>
    <script>

    </script>
    <script>
        function setvolume() {
            var voice = $("#voicerange")[0].valueAsNumber;
            $("audio")[0].volume = voice;
            if (voice == 0) {
                $(".fa-volume-down,.fa-volume-up").hide();//隐藏声音中等和最大图标
                $(".fa-volume-off").show();//显示声音关闭图标
                $($("#voiceInBar")[0]).css("width", "0%");
            } else if (voice > 0.5) {
                $(".fa-volume-down,.fa-volume-off").hide();//隐藏声音中等和关闭
                $(".fa-volume-up").show();//显示声音最大
                $($("#voiceInBar")[0]).css("width", "100%");
            } else {
                $(".fa-volume-up,.fa-volume-off").hide();//隐藏声音中等和关闭
                $(".fa-volume-down").show();//显示声音最大
            }
        }

    </script>
    <script>
        var playlist = playlist = [{
            'artist_id': '12707',
            'artist': '苏打绿',
            'mp3': 'http://music.163.com/song/media/outer/url?id=26524510.mp3',
            'title': '我好想你',
            'cover': 'http://p4.music.126.net/YXY1vPG5rtdV7w_cWDnNWw==/884007348732141.jpg?param=106x106',
        }];
        var isRotate = true;
        var autoplay = false;
        var asd = $('#c');

        function fs() {

            var v = $('#neirong').val();
            $.ajax({
                async: false,
                url: "/index/",
                type: "post",
                data: {"name": v},
                success: function (ids) {
                    {#playlist = ids;#}
                    ids = JSON.parse(ids);
                    playlist = ids;
                    {#console.log(playlist);#}
                    {#window.location.reload()#}

                }
            })
        }

        console.log(playlist);

        {#console.log( typeof playlist)#}
    </script>
    <script type="text/javascript" src="/static/js/music/player.js"></script>
    <script>
        function bgChange() {
            var lis = $('.lib');
            for (var i = 0; i < lis.length; i += 2)
                lis[i].style.background = 'rgba(246, 246, 246, 0.5)';
        }

        window.onload = bgChange;


    </script>
    <!-- footer area end -->
    <!-- scrolltop button -->
    <div class="material-scrolltop"></div>
    {% block js %}
    {% endblock %}
    {% block jss %}
    {% endblock %}
    <script type="text/javascript">
        function searchToggle(obj, evt) {
            var container = $(obj).closest('.search-wrapper');

            if (!container.hasClass('active')) {
                container.addClass('active');
                evt.preventDefault();
            } else if (container.hasClass('active') && $(obj).closest('.input-holder').length == 0) {
                container.removeClass('active');
                // clear input
                container.find('.search-input').val('');
                // clear and hide result container when we press close
                container.find('.result-container').fadeOut(100, function () {
                    $(this).empty();
                });
            }
        }

        function submitFn(obj, evt) {
            value = $(obj).find('.search-input').val().trim();

            _html = "您搜索的关键词： ";
            if (!value.length) {
                _html = "关键词不能为空。";
            } else {
                _html += "<b>" + value + "</b>";
            }

            $(obj).find('.result-container').html('<span>' + _html + '</span>');
            $(obj).find('.result-container').fadeIn(100);

            evt.preventDefault();
        }
    </script>
    <!-- js here -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/mo.min.js"></script>
    <script src="/static/js/demo.js"></script>
    {#    <script src="/static/js/jquery-3.4.1.min.js"></script>#}
    <script src="/static/js/vendor/modernizr-3.5.0.min.js"></script>


    {#    <script src="/static/js/vendor"></script>#}
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery-ui.js"></script>
    <script src="/static/js/slicknav.min.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/isotope.pkgd.min.js"></script>
    <script src="/static/js/imagesloaded.pkgd.min.js"></script>
    <script src="/static/js/magnific-popup.min.js"></script>
    <script src="/static/js/linebar.js"></script>
    <script src="/static/js/waypoints.min.js"></script>
    <script src="/static/js/counterup.min.js"></script>
    <script src="/static/js/nice-select.min.js"></script>
    <script src="/static/js/scrolltop.js"></script>
    <script src="/static/js/ajax-form.js"></script>
    <script src="/static/js/wow.min.js"></script>
    <script src="/static/js/plugins.js"></script>
    <script src="/static/js/slick.min.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/gritter/js/jquery.gritter.js"></script>

</body>

</html>
